.order-header {
    background-color: #CE2829;
}

.order-header-wrapper {
  justify-content: center;
  display:flex;
  flex-direction: column;
  margin: 0 40rem;
}

.order-header img {
  width: 23rem;
  margin: 4rem auto 3rem auto;
}

.order-header-title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.order-header-p1 {
    color: white;
    font-size: 16px;
    font-family: "Barlow";
    font-weight: 400;
}

.order-header-p2 {
    color: white;
    font-size: 16px;
    font-family: "Barlow";
    font-weight: 600;
    margin-left: 5px;
}

