

.section-form {
  display: flex;
  flex-direction: column;
  margin: 0 40rem 0 40rem;
  padding-bottom: 3rem;
}

.form-title {
  font-family: "Barlow";
  font-weight: 600;
  font-size: 22px;
}

.order-price-container {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  justify-content: space-between;
}

#priceP {
   font-family: "Barlow";
   font-weight: 700;
   font-size: 28px; 
   justify-content: start;
}

#ratingP {
   font-family: "Barlow";
   font-weight: 400;
   font-size: 20px; 
   color: #5F5F5F;
   margin-left: 25rem;
}

#commentsP {
   font-family: "Barlow";
   font-weight: 400;
   font-size: 20px; 
   color: #5F5F5F;
}

.form-text {
    font-family: "Barlow";
    font-weight: 400;
    font-size: 16px !important;
    color: #5F5F5F;
    margin-top: 1rem;
    line-height: 2rem;
}


.boyut-sec{
  display: flex;
  margin-top: 40px;
  gap: 15rem;
}

@media screen and (max-width: 1024px) {
  .section-form {
    width: 95%;
  }

  #ratingP {
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .section-form {
    padding: 1.5rem;
  }

  .order-price-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .boyut-sec {
    gap: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .section-form {
    padding: 1rem;
  }

  .form-title {
    text-align: center;
  }

  .order-price-container {
    text-align: center;
    align-items: center;
  }

  .boyut-sec {
    flex-direction: column;
    gap: 1rem;
  }
}