

.section-form {
  display: flex;
  flex-direction: column;
  margin: 3rem 40rem 0 40rem;
}

.form-title {
  font-family: "Barlow";
  font-weight: 600;
  font-size: 22px;
}

.order-price-container {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  justify-content: space-between;
}

#priceP {
   font-family: "Barlow";
   font-weight: 700;
   font-size: 28px; 
   justify-content: start;
}

#ratingP {
   font-family: "Barlow";
   font-weight: 400;
   font-size: 20px; 
   color: #5F5F5F;
   margin-left: 25rem;
}

#commentsP {
   font-family: "Barlow";
   font-weight: 400;
   font-size: 20px; 
   color: #5F5F5F;
}

.form-text {
    font-family: "Barlow";
    font-weight: 400;
    font-size: 16px !important;
    color: #5F5F5F;
    margin-top: 1rem;
    line-height: 2rem;
}


.boyut-sec{
  display: flex;
  margin-top: 40px;
  gap: 15rem;
}
